html, body, ul, li, p {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    color: #000;
    font-family: Arial, sans-serif;
    line-height: 1.4;
    background-color: #fff;
}

h1, h2 {
    font-weight: normal;
    line-height: 1.2;
    margin: 0 0 0.6em 0;
}

h1 {
    font-size: 2em;
}

h1 small {
    font-size: 0.5em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1em;
    margin: 0 0 0.3em 0;
}

p, pre {
    margin: 0 0 1.2em 0;
}

ul {
    margin: 0 0 1.2em 0;
    list-style-type: none;
}

ul li {
    margin: 0 0 0.3em 0;
}

#outer {
    min-height: 100%;
}

#content {
    padding: 1em 2em 4em 2em;
}

#footer {
    height: 2.4em;
    margin: -2.4em 2em 0 2em;
}

#footer p {
    margin: 0;
}

.clear {
    clear: both;
    font-size: 0;
    overflow: hidden;
}

.columns {
    clear: left;
    width: 100%;
}

#col1, #col2, #col3 {
    float: left;
}

#col1 {
    width: 25%;
}

#col1, #col2 {
    margin-right: -100%;
}

#col2 {
    margin-left: 30%;
    width: 35%;
}

#col3 {
    margin-left: 70%;
    width: 30%;
}

.corners {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.list {
    float: left;
    padding: 0.5em;
    margin: 0 0.5em 1em 0;
    background-color: #e5e5e5;
}

.list form {
    padding: 0;
    margin: 0;
}

.active {
    background-color: #73e573;
}

.note {
    font-size: 0.8em;
}

#debug {
    clear: left;
}

.test {
    font-size: 0.8em;
}